[submodule "plugins-ext"]
	path = plugins-ext
	url = https://github.com/ffquintella/BastionVault-Plugins.git
[submodule "IronRDP"]
	path = IronRDP
	url = https://github.com/ffquintella/IronRDP.git
	branch = fix-deps
